@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.foto, .foto img {
    z-index: 100;
    padding: 0 16px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /*clip-path: circle();*/
    margin-left: auto;
}

.descriptionline{
    display: flex;
}

#cities a, #categories a {
    background-color: #0050a1;
    padding: 6px 12px;
    height: 28px;
    margin: 4px;
    border-radius: 17px;
    color: white;
}

#contentheader {
    display: flex;
}

.price {
    font-weight: bold;
    font-size: 24px;
    margin-top: 12px;
}

#contentheader h2:nth-child(1) {
    flex: 1;
    margin-right: -103.68px;
}

#contentheader:after {
    flex: 1;
    content: '';
}

#cities a:hover, #categories a:hover {
    color: #C492B1;
}

a {
    text-decoration: none;
    color: #0050a1;
}

a:hover {
    color: #C492B1;
}

#cities, #categories {
    font-size: 18px;
    padding: 5px;
}
#cities a, #categories a {
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#categories a:hover, #cities a:hover {
    border-radius: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 50px;
}

#categories {
    margin-top: 15px
}

.content, #detailcontent {
    margin-left: 5%;
    max-width: 90%;
}

.content h2 {
    font-size: 32px;
    margin-left: 50px;
    margin-bottom: -20px;
}

.nemovitostheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.clickables {
    flex-shrink: 0;
    font-size: 22px;
    display: flex;
    justify-content: right;
    transition: 0.3s;
}

.category {
    margin-left: 10px;
}

.nemovitostheader h1 {
    font-size: 24px;
    margin-right: auto;
}

.nemovitost {
    margin: 50px;
    padding: 20px;
    border-radius: 4px;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nemovitost:hover {
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;*/
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#subheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: gray;
    margin-bottom: 20px;
}
#location{
    display: flex;
    padding-bottom: 10px;
    color: gray;
    font-size: 18px;
    margin-top: -10px;
}

#contentheading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#detailcontent table {
    border: 3px solid black;
    flex: 1;
    background-color: #0050a1;
    color: white;
    border-radius: 8px;
    border-collapse: collapse;
    overflow: hidden;
}
#detailcontent tr:nth-child(2n) {
    color: black;
    background-color: white;
}

#centerinfo{
    display: flex;
    justify-content: space-between;
}
#description{
    flex: 3;
    font-size: 18px;
    margin-right: 50px;
}

#detailcontent{
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#detailcontent:hover{
    border-radius: 14px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#imagerow{
    display: flex;
}
#images{
    flex:1;
    padding-right: 25px;
}
#nonimages{

    flex:3;
}
.mainphoto, .mainphoto img {
    width: 460px;
}
.imageflex {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    flex-flow: row wrap;
}
.otherphoto, .otherphoto img {
    width: 225px;
}

#searchform{
    padding-top: 25px;
    display: flex;
}

#searchform input:nth-child(1){
    border-radius: 12px;
    width: 200px;
    height: 25px;
    border-style: none;
    transition: 0.3s;
    font-size: 18px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

#searchform input:nth-child(2){
    border-radius: 12px;
    width: 75px;
    height: 30px;
    background-color: #0050a1;
    color: white;
    font-size: 18px;
    border-style: none;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#searchform input:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}